.sign-up-log-in-container {
  width: 500px;
  margin: 70px auto 40px;
  padding: 30px;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgba(63, 63, 55, .10);
  background-color: #D5F5E3;
  text-align: center;
}

div.field {
  font-size: 1em;
  margin-bottom: 5px;
}