ul.links {
  text-align: right !important;
  text-decoration: none !important;
  list-style: none !important;
  margin: auto !important;
  float: left !important;
  padding-right: 25px !important;
  background-color:  none !important;
}

 .menu-link {
  text-decoration: none;
  list-style: none;
 }

a:-webkit-any-link {
   text-decoration: none;
   font-weight: bold;
 }

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
}

.nav-bar-1 {
  list-style: none;
  text-decoration: none;
  flex-direction: column;
  margin-left: 25px;
  font-size: 1.3em;
  font-family: 'Archivo', sans-serif;
  text-decoration: none;
}

a {
  font-weight: bold;
}

a:visited {
  color: #0D47A1 ;
  text-decoration: none;
  font-weight: bold;
}

.dropdown-menu {
  display: flex;
}