
img.restaurant-photo {
  text-align: center;
  margin:30px auto;
  display: flex;
  width: 275px;
  height: 275px;
  border: 2px solid;
  border-color: #FFFFFF;
  border-style: ridge;
  opacity: 0.8;
  object-fit: inherit;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.restaurant-name {
  text-align: center;
  font-family: 'Archivo', sans-serif;
  color:#E53935 ;
  opacity: 0.8;
}


p.restaurant-description, p.restaurant-location{
  text-align: center;
  color: #0D47A1  ;
  font-family: 'Archivo', sans-serif;
  opacity: 0.8;
}

.review-form {
  display: inline-block;
  margin-left: 33%;
  margin-right:33;
  height: 20px;
  outline: none;
  top: 0px;
  position: relative;
}

textarea {
  resize: none;
  box-sizing: border-box;
  font-family: inherit;
  border: 2px solid;
  border-radius: 4px;
  box-shadow: 0 0 0 1px;
  align-items: center;
  top: 15%
}

.review-label {
  color:#E53935;
  font-family: 'Archivo', sans-serif;
  font-weight: inherit;
}
 .restaurant-details {
   background-color: #FFFFFF ;
   padding: 0.8em 0.8em 0.8em 0.8em;
   display:inline-block;
   border-radius: 20px;
   text-align:center;
   margin-left: 33%;
   margin-right: 33%;
   margin-bottom: 10px;
   margin-top: 15px;
   top: 40px; 
   position: absolute;
 }

 h5.errors {
   text-align: center;
   font-family: 'Archivo', sans-serif;
   color: #C0392B  ;
   font-size: 3em;
}

.review-items {
  text-align: center;
  margin-top: 25px;
  opacity: 0.8;
}

.review-tile {
  color: #000000;
display: flexbox;
padding: 0.5em 0.2em 0.8em 0.5em;
margin: auto;
}

.yelp-review-info {
  margin-bottom: 2em;
 }


.yelp{
font-size: 2em;
color: #E74C3C ;
float: left;
top: 220px;
position: absolute;
left: 105px;
top: 45px;
}

.yelp-ol {
width:  30em;
list-style: none;
}
.yelp-li,.yelp-li {
  background-color: #E74C3C ;
  float: left;
  width: 20em;
  display: block;
  border: 2px solid;
  border-radius: 4px;
  box-shadow: 0 0 0 1px;
}

.yelp-br {
  clear: left;
}