.user-first-name,.user-last-name {
  text-align: center;
  padding-bottom: 10px;
}

.user-profile-edit  {
  text-align: center;
}

.user-profile-picture {
  padding-left: 580px;
}

.user-review-text {
  text-align: center;
  font-weight: bold;
  padding: 25px;
}

.user-show-reviews {
  text-align: center;
}

